rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /diagnostics/{diagnosticId} {
      allow read: if resource.data.publicShare == true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}