<footer>
  <div class="container">
    <ul class="footer-nav-list">
      <li><a href="https://calendar.app.google/ScKvj638Qi81ABeP9">Initiate Contact</a></li>
      <li><a href="{{ '/codex/' | url }}">The Codex Library</a></li>
      <li><a href="{{ '/privacy-policy/' | url }}">Privacy Policy</a></li>
      <li><a href="{{ '/terms-and-conditions/' | url }}">Terms & Conditions</a></li>
    </ul>
    <p>&copy; {% year %} Thinking Cap Trinity Consulting LLC. All rights reserved.</p>
  </div>
</footer>
