<header>
  <div class="container">
    <h1>
      <a href="/">
        <img src="/img/logo.jpg" alt="TCTC Logo" class="header-logo">
        <span>Thinking Cap Trinity Consulting</span>
      </a>
    </h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/codex/">Codex</a>
      <a href="/contact/">Contact</a>
    </nav>
  </div>
</header>