---
layout: layout.njk
---

<div class="post-article container">
  <h1 class="post-header-title">{{ title }}</h1>
  
  <div class="post-content">
    {{ content | safe }}
  </div>

  <div class="post-return-link">
    <a href="/codex/">← Return to The Codex Library</a>
  </div>
</div>